<div class="row">

    <div class="col-md-2 text-right"><strong>Candidate {{ candidate.number }}:</strong></div>
    <div class="col-md-4">{{ candidate.name }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Age:</strong></div>
    <div class="col-md-1">{{ candidate.age }}&nbsp;</div>
    <div class="col-md-2 text-right"><strong>Vital Statistics:</strong></div>
    <div class="col-md-2">{{ candidate.vital_statistics }}&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Nickname:</strong></div>
    <div class="col-md-4">{{ candidate.nickname }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Height:</strong></div>
    <div class="col-md-2">{{ candidate.height }} cm ({{ candidate.english_height }})&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Weight:</strong></div>
    <div class="col-md-2">{{ candidate.weight }} Kg</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Motto:</strong></div>
    <div class="col-md-10">{{ candidate.motto }}&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Dream:</strong></div>
    <div class="col-md-10">{{ candidate.dream }}&nbsp;</div>
</div>

<ul class="nav nav-tabs">
    {% for r in data %}
    <li {% if forloop.first %} class="active"{% endif %}>
        <a data-toggle="tab" href="#cat{{ r.category_id}}">{{ r.category }}</a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content">
  {% for r in data %}
  <div id="cat{{ r.category_id}}" class="tab-pane fade {% if forloop.first %}in active {% endif %}">
    {% for item in r.items %}
    <div class="row">
       <div class="col-md-2">&nbsp;</div>
       <div class="col-md-4 text-right">
           <label for="crit_{{ item.criterion_id }}">
             {{ item.criterion }} 
           </label>
       </div>
       <div class="col-md-1">
           <input class="form-control" id="crit_{{ item.criterion_id }}" type="text" value="{{ item.score }}" name="{{ candidate.id }}.{{ item.criterion_id }}.{{ judge_id }}">
       </div>
       <div class="col-md-7"></div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

