<div class="row">

    <div class="col-md-2 text-right"><strong>Candidate {{ candidate.number }}:</strong></div>
    <div class="col-md-4">{{ candidate.name }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Age:</strong></div>
    <div class="col-md-1">{{ candidate.age }}&nbsp;</div>
    <div class="col-md-2 text-right"><strong>Vital Statistics:</strong></div>
    <div class="col-md-2">{{ candidate.vital_statistics }}&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Nickname:</strong></div>
    <div class="col-md-4">{{ candidate.nickname }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Height:</strong></div>
    <div class="col-md-2">{{ candidate.height }} cm ({{ candidate.english_height }})&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Weight:</strong></div>
    <div class="col-md-2">{{ candidate.weight }} Kg</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Motto:</strong></div>
    <div class="col-md-10">{{ candidate.motto }}&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Dream:</strong></div>
    <div class="col-md-10">{{ candidate.dream }}&nbsp;</div>
</div>

<ul class="nav nav-tabs">
    {% for category in categories %}
    <li {% if forloop.first %} class="active"{% endif %}>
        <a data-toggle="tab" href="#cat{{ category.id}}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content">
  {% for category in categories %}
  <div id="cat{{ category.id}}" class="tab-pane fade {% if forloop.first %}in active {% endif %}">
    {% for criterion in category.criterion_set.all %}
    <div class="row">
       {{ criterion.name }}  [{{ candidate.id }}, {{ judge.id }}, {{ criterion.id }}]

	{{ judge }}
    </div>
    {% endfor %}
    <p>Some content. {{ category.description }}</p>
  </div>
  {% endfor %}
</div>

scores:
{% for score in scores %}
   |{{ score }}|
{% endfor %}
