<div class="row">

    <div class="col-md-2 text-right"><strong>Name:</strong></div>
    <div class="col-md-4">{{ candidate.name }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Age:</strong></div>
    <div class="col-md-1">{{ candidate.age }}&nbsp;</div>
    <div class="col-md-2 text-right"><strong>Vital Statistics:</strong></div>
    <div class="col-md-2">{{ candidate.vital_statistics }}&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Nickname:</strong></div>
    <div class="col-md-4">{{ candidate.nickname }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Height:</strong></div>
    <div class="col-md-2">{{ candidate.height }}&nbsp;</div>
    <div class="col-md-1 text-right"><strong>Weight:</strong></div>
    <div class="col-md-2">{{ candidate.weight }}</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Motto:</strong></div>
    <div class="col-md-10">{{ candidate.motto }}&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><strong>Dream:</strong></div>
    <div class="col-md-10">{{ candidate.dream }}&nbsp;</div>
</div>